{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Database=pbms_local;Username=postgres;Password=YOUR_PASSWORD"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore.Database.Command": "Information"
    }
  },
  "Jwt": {
    "Key": "A_Super_Secret_Key_For_JWT_Auth_System_PBMS_Project_2026_SWP391",
    "Issuer": "PBMS",
    "Audience": "PBMSUsers",
    "ExpiryInMinutes": 1440
  },
  "ParkingSession": {
    "UseInMemoryStore": false
  }
}
